<div class="infoModal js-infoModal">
    <ul>
        <li><p id="uploadFileText" >Al iniciar, se abrirá una sesión de Whatsap web en una nueva ventana de Chrome.</p></li>
        <br>
        <li><p id="uploadFileText" >El tiempo de espera para escanear el código QR es de 20 segundos.</p></li>
        <br>
        <li><p id="uploadFileText" >Una vez activado el QR, comienza el evío de mensajes.</p></li>
        <br>
        <li><p id="uploadFileText" >Al terminar, se cerrará la sesión de Whatsapp Web y se habilitará la opción para eliminar los contactos agendados.</p></li>
    </ul> 
</div>
